body{
    font-family: sans-serif;
}

#assignment-instructions{
    font-family: sans-serif;
    color: brown;
}

code{
font-family: monospace;
color: red;
}

.second-li{
    color: green;
}

li{
    font-family: inherit;
}